body {
    margin:0;
    background-color: #051823;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 80px;
    background-color: #0a252d;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#book-cards-container {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 40px;

    justify-content: center;
    align-items: center;
}