.card {
    background-color: #1E5161;
    box-shadow: inset 0px 0px 35px 18px rgba(0, 0, 0, 0.29);
    width: 450px;
    height: 700px;
    border-radius: 20px;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  HEADLINE */
.card h2 {
    text-align: center;
}

/* BOOK IMAGE */
.card .image-book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.card .image-book img {
    border-radius: 50%;
    height: 80%;
}

/* BOOK INFORMATION SECTION */
.card .book-information {
    height: 25%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.card .book-information .top-row {
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 24px;
    color: rgb(227, 73, 73);
    font-weight: bold;
}

.card .book-information .top-row .likes-container {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .book-information .top-row .likes-container img {
    height: 24px;
}

.card .book-information .top-row .likes-container img:hover {
    cursor: pointer;
    scale: 1.2;
}

.card .book-information .bottom-row {
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.book-information-data {
    width: 100%;
    white-space: nowrap;
    display: flex;
}

.book-information-data div:first-child {
    width: 60%;
}

/* COMMENTS CONTAINER*/

.comments-container {
    height: 28%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.comment-headline {
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

.comment {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.comment div {
    width: 300px;
}

/* SUB CONTAINERS*/
.card .sub-container {
    width: 100%;
    border-bottom: 3px solid #60b5d7;
}

.card .sub-container:last-child {
    border: none;
}

/* HEADLINE CONTAINER */
.headline-container {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comments {
    overflow-y:scroll;
}

/* SUB CONTAINER INPUT FIELD */
.sub-container input {
    padding: 5px;
    width: 70%;
}

.write-comment-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.write-comment-section input,
.write-comment-section img {
    height: 80%;
}

.write-comment-section img:hover {
    cursor: pointer;
    scale: 1.1;
}

.write-comment-section input {
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #1E5161;
    color: #fff;
}

.write-comment-section input::placeholder {
    color: #fff;
    opacity: 0.5;
}